.grid {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-left: 20%;
}
.nawigacja {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  margin-left: 40%;
  width: 20%;
  text-align: center;
  font-family: "Josefin Slab", serif;
}
.nawigacja a {
  font-family: "Josefin Slab", serif;
  color: yellow;
}
.ikona1 {
  color: yellow;
  font-size: 50px;
}
.ikona2 {
  font-size: 30px;
}
.styl {
  font-family: "Josefin Slab", serif;
  color: greenyellow;
  font-size: 20px;
}
.styl2 {
  font-family: "Josefin Slab", serif;
  color: white;
}
.tekst2{
  font-size: 36px;
}
.tekst3{
  font-size: 12px;
}
.zdjencie{
  width: 100%;
}
.ramka {
    border: black 1px solid;
}
.padding{
  padding-left: 20px;
}
.tekstilestam {
  font-size: 16px;
}
.zdjencie2{
  width: 40%;
  overflow: hidden;
  float: right;
  padding: 7px;
}
.flolt {
  float: right;
}